<div class="row my-4">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
        />
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <div class="input-group">
          <select class="custom-select" id="gender" formControlName="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="birthDate">Date of Birth</label>
        <div class="input-group">
          <input
            ngbDatepicker
            #birthDate="ngbDatepicker"
            class="form-control"
            placeholder="yyyy-mm-dd"
            formControlName="birthDate"
          />
          <div class="input-group-append">
            <button
              type="button"
              class="btn btn-outline-secondary calendar"
              (click)="birthDate.toggle()"
            >
              <i class="material-icons">today</i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="birthPlace">Place of Birth</label>
        <div class="input-group">
          <select
            class="custom-select"
            id="birthPlace"
            formControlName="birthPlace"
          >
            <option value="Tbilisi">Tbilisi</option>
            <option value="Batumi">Batumi</option>
            <option value="Kutaisi">Kutaisi</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="personalNumber">Personal Number</label>
        <input
          type="text"
          class="form-control"
          id="personalNumber"
          formControlName="personalNumber"
        />
        <small
          class="form-text text-danger"
          *ngIf="
            form.get('personalNumber').touched &&
            form.get('personalNumber').errors?.isExists
          "
        >
          Personal Number already exists
        </small>
      </div>

      <div class="form-group">
        <label for="citizenship">Citizenship</label>
        <div class="input-group">
          <select
            class="custom-select"
            id="citizenship"
            formControlName="citizenship"
          >
            <option value="Georgia">Georgia</option>
            <option value="Turkey">Turkey</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="issuingAuthority">Issuing Authority</label>
        <div class="input-group">
          <select
            class="custom-select"
            id="issuingAuthority"
            formControlName="issuingAuthority"
          >
            <option value="House of Justice">House of Justice</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="issueDate">Date of Issue</label>
        <div class="input-group">
          <input
            ngbDatepicker
            #issueDate="ngbDatepicker"
            class="form-control"
            placeholder="yyyy-mm-dd"
            formControlName="issueDate"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="issueDate.toggle()"
              type="button"
            >
              <i class="material-icons">today</i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="expiryDate">Date of Expiry</label>
        <div class="input-group">
          <input
            ngbDatepicker
            #expiryDate="ngbDatepicker"
            class="form-control"
            placeholder="yyyy-mm-dd"
            formControlName="expiryDate"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="expiryDate.toggle()"
              type="button"
            >
              <i class="material-icons">today</i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input
          type="text"
          class="form-control"
          id="cardNumber"
          formControlName="cardNumber"
        />
      </div>

      <div class="mt-3 d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-info mr-3"
          (click)="onClearFrom()"
          [disabled]="form.untouched"
        >
          Clear
        </button>

        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!form.valid || form.untouched"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
