<nav class="navbar navbar-light bg-light mb-4">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/electronic-id-cards']">
        Home
      </a>
    </li>
  </ul>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>

<app-alert></app-alert>
