@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  animation-name: $name;
}

@mixin animation($duration, $function, $count) {
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $function;
  -webkit-animation-iteration-count: $count;

  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $function;
  -moz-animation-iteration-count: $count;

  animation-duration: $duration;
  animation-timing-function: $function;
  animation-iteration-count: count;
}

@mixin keyframe($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
