@import "../../../../../assets/styles/commons/mixins.scss";

.form-section {
  max-height: 0;
  overflow: hidden;
  @include animation(1s, ease-in-out, 1);

  &.expanded {
    max-height: 1000px;
    overflow: visible;
    @include animation-name(expand);
  }

  &.collapsed {
    max-height: 0;
    overflow: hidden;
    @include animation-name(collapse);
  }
}

@include keyframe(expand) {
  0% {
    overflow: hidden;
    max-height: 0;
  }
  100% {
    overflow: visible;
    max-height: 1000px;
  }
}

@include keyframe(collapse) {
  0% {
    overflow: visible;
    max-height: 1000px;
  }
  100% {
    overflow: hidden;
    max-height: 0;
  }
}
