<button type="button" class="btn btn-light" (click)="toggleFormSection()">
  Search
</button>

<div class="mt-3 form-section" [ngClass]="formSectionClass">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            formControlName="fullName"
          />
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="personalNumber">Personal Number</label>
          <input
            type="text"
            class="form-control"
            id="personalNumber"
            formControlName="personalNumber"
          />
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="birthPlace">Place of Birth</label>
          <div class="input-group">
            <select
              class="custom-select"
              id="birthPlace"
              formControlName="birthPlace"
            >
              <option value="1">Tbilisi</option>
              <option value="2">Batumi</option>
              <option value="3">Kutaisi</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="birthDateFrom">Date of Birth (from)</label>
          <div class="input-group">
            <input
              ngbDatepicker
              #birthDateFrom="ngbDatepicker"
              class="form-control"
              formControlName="birthDateFrom"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="birthDateFrom.toggle()"
                type="button"
              >
                <i class="material-icons">today</i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="birthDateTo">Date of Birth (to)</label>
          <div class="input-group">
            <input
              ngbDatepicker
              #birthDateTo="ngbDatepicker"
              class="form-control"
              formControlName="birthDateTo"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="birthDateTo.toggle()"
                type="button"
              >
                <i class="material-icons">today</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="expiryDateFrom">Date of Expiry (from)</label>
          <div class="input-group">
            <input
              ngbDatepicker
              #expiryDateFrom="ngbDatepicker"
              class="form-control"
              formControlName="expiryDateFrom"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="expiryDateFrom.toggle()"
                type="button"
              >
                <i class="material-icons">today</i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="expiryDateTo">Date of Expiry (to)</label>
          <div class="input-group">
            <input
              ngbDatepicker
              #expiryDateTo="ngbDatepicker"
              class="form-control"
              formControlName="expiryDateTo"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="expiryDateTo.toggle()"
                type="button"
              >
                <i class="material-icons">today</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p><strong>mock service მუშაობს მხოლოდ პირად ნომერზე</strong></p>

    <div class="mt-2 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-info mr-3"
        (click)="onClearFrom()"
        [disabled]="form.untouched"
      >
        Clear
      </button>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!form.valid || form.untouched"
      >
        Search
      </button>
    </div>
  </form>
</div>
