<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Personal Number</th>
      <th scope="col" class="d-none d-lg-table-cell">Gender</th>
      <th scope="col" class="d-none d-lg-table-cell">Date of Birth</th>
      <th scope="col">Date of Expiry</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.firstName + " " + item.lastName }}</td>
      <td>{{ item.personalNumber }}</td>
      <td class="d-none d-lg-table-cell">{{ item.gender }}</td>
      <td class="d-none d-lg-table-cell">{{ item.birthDate }}</td>
      <td>{{ item.expiryDate }}</td>
      <td>
        <a
          type="button"
          class="btn btn-secondary mr-md-2 mb-md-0 mb-1"
          [routerLink]="['/electronic-id-cards/edit', item.id]"
        >
          edit
        </a>

        <button
          type="button"
          class="btn btn-danger"
          (click)="onDelete(item.id)"
        >
          delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
