<div class="modal-body">
  <p class="my-3">
    <strong>Please confirm your request!</strong>
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    (click)="activeModal.dismiss('Confirmed')"
  >
    Confirm
  </button>

  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.close('Closed')"
  >
    Close
  </button>
</div>
