<app-electronic-id-cards-search
  (search)="onSearch($event)"
></app-electronic-id-cards-search>

<div class="mt-4 mb-3">
  <a
    type="button"
    class="btn btn-primary"
    [routerLink]="['/electronic-id-cards/add']"
  >
    Add New Electronic Identity Card
  </a>
</div>

<app-electronic-id-cards-table
  [data]="electronicIdCards$ | async"
  (delete)="onElectronicIdCardDelete($event)"
></app-electronic-id-cards-table>