/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

input,
select {
  &.ng-invalid.ng-touched {
    border-color: red;
  }
}

.calendar {
  &.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 21px;
    }
  }
}
